<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/ott.css">
</head>
<body >
    <div class="nav_bar">
        <ul>
            <li><a class="not_active" href="ott.html">Home</a></li>
            <li><a class="active" href="login_screen.html">Login</a></li>
            <li><a class="not_active" href="register_screen.html">Register</a></li>
            <li><a class="not_active" href="#about">About</a></li>
        </ul>
    </div>
    <div class="register_container">
        <header>Login</header>
    <p>Please fill in this form to login.</p>
    <hr>
    <form action="big_form">
    <!-- <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required><br> -->
    <div class="field email-field">
        <div class="input-field">
          <input type="email" placeholder="Enter your email" class="email" />
        </div>
        <span class="error email-error">
            <i class="bx bx-error-circle error-icon"></i>
            <p class="error-text">Please enter a valid email</p>
          </span>

    <!-- <label for="psw"><b>Password</b></label>    
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required><br> -->
    <!-- <button type="submit" class="loginbtn">Login</button> -->
    </div>
    <div class="field password-field">
    <div class="input-field">
      <input type="password"  placeholder="Enter your password"  class="password"  />
    </div>
      <div class="input-field button">
        <input type="submit" value="Submit Now" />
      </div>
    </form>
</div>

</body>
</html>
