<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>On The Table</title>
    <!-- install font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap" rel="stylesheet">
    <script defer src="../static/ott.js"></script>
    <link rel="stylesheet" href="../static/ott.css">

</head>
<body>
    <div class="nav_bar">
        <ul>
            <li><a class="active" href="ott.html">Home</a></li>
            <li><a class="not_active" href="login_screen.html">Login</a></li>
            <li><a class="not_active" href="register_screen.html">Register</a></li>
            <li><a class="not_active" href="#about">About</a></li>
        </ul>
    </div>
    <div class="topdiv">
        <h1 id="title">On The Table</h1>
        <P>
            <b class="regular_blook">Welcome to the "On the Table" community.</b> <br>
            On this site you can enjoy a wide variety of recipes uploaded by community members and share your own recipes. <br>
            From the simplest recipes to complicated and detailed recipes. <br>
            Join our community! <br> 
            (to upload your own recipes you must <a href="login_screen.html" class="regular_blook">login</a>/<a href="register_screen.html" class="regular_blook">register</a> to the site)
        </P>
        
    </div>
    <div class="container">
        <div class="gridhead">
             <input type="text" name="search" placeholder="Search by ingredients"> 
        </div>
        <div class="gridvegan">
            <label for="vegan"class="meal_lable">Vegan</label><br>
            <a href="vegan.html"><img src="../vigan.jfif"  ></a>          
        </div>
        <div class="gridmeatfood">
            <label for="meat" class="meal_lable">Meat</label><br>
             <img src="../meat.jfif" >     
        </div>
        <div class="gridvegifood">
            <label for="vegi" class="meal_lable">Vegetarian</label><br>
                <img src="../pasta.jfif" /> 
        </div>
        <div class="gridessert">
            <label for="dessert" class="meal_lable">Desserts</label><br>
              <img src="../cake.jfif">   
        </div>
        <div class="gridbake">
            <label for="bake" class="meal_lable">Pastries</label><br>
             <img src="../bread.jfif">    
        </div>
        <div class="gridfish">
            <label for="fish" class="meal_lable">Fish</label><br>
             <img src="../fish.jfif">  
        </div>
      
    </div>

    

</body>
</html>