<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/ott.css">
</head>
<body >
    <div class="nav_bar">
        <ul>
            <li><a class="not_active" href="ott.html">Home</a></li>
            <li><a class="active" href="login_screen.html">Login</a></li>
            <li><a class="not_active" href="register_screen.html">Register</a></li>
            <li><a class="not_active" href="upload.html">Upload</a></li>
        </ul>
    </div>
    
    <div class="container">
       <div class="register_container">
        <header>Login</header>
    <p>Please fill in this form to login.</p>
    <form action="big_form">
      <div class="field email-field">
        <div class="input-field">
          <input type="email" placeholder="Enter your email" class="email" />
        </div>
        <span class="error email-error">
            <i class="bx bx-error-circle error-icon"></i>
            <p class="error-text">Please enter a valid email</p>
          </span>
    </div>
    <div class="field password-field">
    <div class="input-field">
      <input type="password"  placeholder="Enter your password"  class="password"  />
    </div>
      <div class="input-field button">
        <a href="../views/vegan.html"><input type="submit" value="Login Now" /> </a>
      </div>
    </form>
      </div>
</div>

<!-- <script src="../static/script.js"></script> -->
</body>
</html>
