<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>On The Table</title>
       
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/ott.css">
</head>

<body  onload="welcome()">
    <div class="nav_bar">
        <ul>
            <li><a class="active" href="ott.html">Home</a></li>
            <li><a class="not_active" href="login_screen.html">Login</a></li>
            <li><a class="not_active" href="register_screen.html">Register</a></li>
            <li><a class="not_active" href="upload.html">Upload</a></li>
        </ul>
    </div>

    <div class="topdiv">
        <h1 id="title">On The Table</h1>
        <img src="../views/restaurant_FILL0_wght400_GRAD0_opsz48.png" class="spin"/>
        <P>
            <b class="regular_blook">Welcome to "On the Table" community.</b> <br>
            On this site you can enjoy a wide variety of recipes uploaded by community members and share your own recipes. <br>
            From the simplest recipes to complicated and detailed recipes. <br>
            Join our community! <br> 
            To upload your own recipes you must <a href="login_screen.html" class="regular_blook">login</a>/<a href="register_screen.html" class="regular_blook">register</a> to the site
        </P>
       
        
    </div>
    
    <div class="container">
        <div class="gridhead">
             <input type="text" name="search" placeholder="Search by ingredients" id='search-text-input'> 
        
             <b><p id="demo"></p>
             
        </div>
        <div class="images">
        <div class="gridvegan">
            <label for="vegan"class="meal_lable">Vegan</label><br>
            <a href="vegan.html"><img src="../vigan.jfif" class="ott_img" ></a>          
        </div>
        <div class="gridmeatfood">
            <label for="meat" class="meal_lable">Meat</label><br>
             <img src="../meat.jfif" class="ott_img">     
        </div>
        <div class="gridvegifood">
            <label for="vegi" class="meal_lable">Vegetarian</label><br>
                <img src="../pasta.jfif" class="ott_img" /> 
        </div>
        <div class="gridessert">
            <label for="dessert" class="meal_lable">Desserts</label><br>
              <img src="../cake.jfif" class="ott_img">   
        </div>
        <div class="gridbake">
            <label for="bake" class="meal_lable">Pastries</label><br>
             <img src="../bread.jfif" class="ott_img">    
        </div>
        <div class="gridfish">
            <label for="fish" class="meal_lable">Fish</label><br>
             <img src="../fish.jfif" class="ott_img">  
        </div>
    </div>
    </div>

    

</body>
</html>