<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
<title>Vegan</title>
<link rel="stylesheet" href="../static/ott.css">
</head>
<body>
    <div class="nav_bar">
        <ul>
            <li><a class="not_active" href="ott.html">Home</a></li>
            <li><a class="not_active" href="login_screen.html">Login</a></li>
            <li><a class="not_active" href="register_screen.html">Register</a></li>
            <li><a class="not_active" href="upload.html">Upload</a></li>
        </ul> 
    </div>

    <div class="topdiv">
    <h1 id="title">Vegan Meals</h1>
    <P>
        <b class="regular_blook">Welcome to the "On the Table" community.</b> <br>
    </P>
</div>
<div class="container">
<div class="images">
    <div class="gridveganres1">
        <label for="vegan"class="meal_lable">Creamy Vegan Pasta</label><br>
        <a href="vegan_page.html"><img src="../IMG_vegpasta.jpg" class="vegan_img" ></a>  <br> 
           
    </div>
    <div class="gridveganres1">
        <label for="vegan"class="meal_lable">Best Vegan Chili </label><br>
        <img src="../IMG_vegan.jpg" class="vegan_img" ></a>  <br> 
           
    </div>
    <div class="gridveganres1">
        <label for="vegan"class="meal_lable">Buddha Bowl</label><br>
        <img src="../IMG_vegan1.jpg" class="vegan_img" ></a>  <br> 
           
    </div>
 
</div>
</div>
</body>

</html>