
 *{
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
} 

body {
    align-items: center;
   justify-content: center;
    background-color: #e89e9e;
    font-family: MyWebFont;
  
}

@font-face {
  font-family: MyWebFont;
  src: url(PoppinsLight.ttf) ;
}
.GridLayout{
  display: grid;
  text-align: center;

}

.first_header{

  text-align: center;
}

nav{
  padding:3%;
  grid-area: header2;
  text-align: right;
  font-weight: bold;
 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(240, 192, 102);
  }
  
  @keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  .spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(250, 201, 96);
  }
  


  /* .Active {
    background-color: #c7841f;
  }

  .Active:hover {
    background-color: rgb(250, 201, 96);
  }

  .not_Active {
    background-color: rgba(224, 148, 5, 0.466);
  } */

  
  .Active {
    color: black;
    background-color:whitesmoke;
    border-radius: 4px;
    text-shadow: 0 0 3px #f7f6f6, 0 0 5px #ededf1;
    font-weight: bold;
    }
   
    nav li {
    display: inline-block;
    margin-left:30px;
    padding-top: 25px;
    position: relative;
    }
    nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    }
    nav a:hover {
    color:rgb(0, 0, 0);
    background-color:whitesmoke;
    border-radius: 4px;
    }

  .topdiv{
    text-align: center;
  }

  /* .regular_blook {
    
    text-align: center;
  }  */



/* #title {

    text-align: center;
} */


a {
    color: blue;
    text-decoration-line: none;
}

a:hover {
    background-color: #d9c086;
}

/* a:active {
    color: red;
} */



.button-holder{
  background-color:#f1f1f1;
  border-top:thin solid #e5e5e5;
  box-shadow:1px 1px 1px 1px #e5e5e5;
  cursor:pointer;
  float:left;
  height:27px;
  margin:11px 0 0 0;
  text-align:center;
  width:50px;
}
 
.button-holder img{
  margin:4px;
  width:20px; 
}

.images{
  /* position: relative;  */
  align-items: center;
   display: grid;
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  background-color:#e91449;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;

     grid-template-areas:
   
     'up_left  up_middle  up_right'
     'down_left down_middle down_right'
     ;
}



.ott_img{
    transition: transform .2s; /* Animation */
    width:270px ;
    height:170px;
}

img:hover{
    transform: scale(1.15);
}

.vegan_img{
  transition: transform .2s; /* Animation */
  width:170px ;
  height:250px;
}

.gridhead {
  
    text-align: center;
    grid-area: ghead;
  
}

.gridvegan {
    grid-area: up_left;

    
}
.gridvegan label{
        font-size: 18px;
    text-align: center;
}

.gridmeatfood {
    grid-area: up_right;

}

.gridvegifood{
    grid-area: up_middle;
    
}
.gridessert{
    grid-area: down_left;
    
}

.gridgridbake{
    grid-area: down_middle;
   
}

.gridfish{
    grid-area: down_right;
   
}

@media screen and (max-width: 600px) {
    .images {
      background-color:#d9c086;
        display: grid;
        grid-template-areas:
          
         'up_left  up_middle'
         'up_right down_left'
         'down_middle  down_right';

    }
    .big_container{
      background-color: #f3e5cb;
    }
    body{
      background-color: #f3e5cb;
    }
    .ott_img{
      transition: transform .2s; /* Animation */
      width:150px ;
      height:70px;
  }
}

.big_container{
  align-items: center;
 justify-content: center;
  background-color: #e89eba;   
  display: grid;
   
}
  form .field {
    margin-bottom: 20px;
  }
  form .input-field {
    position: relative;
    height: 55px;
    width: 100%;
  }
  .input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
    
  }
  .invalid input {
    border-color: #d93025;
  }
  .input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    /* cursor: pointer; */
    /* padding: 3px; */
  }
  .field .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
  }
  .invalid .error {
    display: flex;
  }
  .error .error-icon {
    margin-right: 6px;
    font-size: 15px;
  }
  .create-password .error {
    align-items: flex-start;
  }
  .create-password .error-icon {
    margin-top: 4px;
  }


  .button {
    margin: 25px 0 6px;
  }
  .button input {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: rgb(199, 143, 20);
    cursor: pointer;
    transition: all 0.3s ease;
    align-items:center;
  }
  .button input:hover {
    background-color: #f1cf7f;
  }
  .register_container {
    position: relative; 
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background-color:#d9c086;
    display:grid;
    margin-top: 40px;
    
                      
  }


  .container {
    display: grid;
    text-align: center;
 margin-bottom: 50px;
 margin-left: 50px;
 margin-right: 50px;
 margin-top: 30px;
 justify-content: center;
 grid-template-areas:
 'ghead    ghead     ghead';
 
}

  .register_container header {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    align-items:center;
    display:grid;
    justify-content: center; 
 
  }
 

  

 
 