doctype html
html
    head
        title layout
        link(rel="stylesheet", href="styleOTT.css")
        script(src="scriptOTT.js" defer='')

    header
        .GridLayout
                
            nav#nav
                a(href='http://localhost:3030/home') Home 
                a(href='http://localhost:3030/login') Login 
                a(href='http://localhost:3030/register') Register
                
            .first_header 
                h1#title On The Table
                img.spin(src='restaurant_FILL0_wght400_GRAD0_opsz48.png')
        
                
    block content
        
    footer
            p NIT&copy; 2022