extends layout 
block content
    .container
            form#success(action=var1 method='get')
                h1 #{var2}
                br
                h2 #{var3}
                br
                input#goLogin(type='submit', value=var4 ,style=' font-weight: bold; cursor: pointer;')


                
                